<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>

  </head>
  <body>
    <div class='header'>
      <div style="align-self: flex-start">Hello, <%= @auth_result['login'] %>!</div>
      <div style="align-self: flex-end">
        <%= form_with url: "/logout", method: :post do |form| %>
          <%= form.submit "Logout" %>
        <% end %>
      </div>
    </div>
    <div class='body'>
      <h2>Repositories</h2>
      <% @user_repos.each do |repo| %>
        <div><%= repo['name']%>
      <% end %>
      <h2>Projects</h2>
      <% @user_projects.each do |project| %>
        <div><%= project['name']%>
      <% end %>
    </div>
  </body>
</html>
